rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /uploads/{uid}/{file} {
      allow read: if request.auth != null &&
        (request.auth.uid == uid || request.auth.token.owner == true);
      allow create: if request.auth != null && request.auth.uid == uid &&
        request.resource.size < 3 * 1024 * 1024 &&
        request.resource.contentType.matches('image/(jpeg|png)');
      allow delete: if request.auth != null && request.auth.uid == uid;
      allow update: if false;
    }
  }
}
